<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206891117570-5g3sqbav8s1pnmjpfr0r1lorroavblo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206891117570-5g3sqbav8s1pnmjpfr0r1lorroavblo0</string>
	<key>API_KEY</key>
	<string>AIzaSyAs2unZXW15K7kgQGMu_L6okDSbcwT6-gY</string>
	<key>GCM_SENDER_ID</key>
	<string>206891117570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cochran.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular2-12ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular2-12ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206891117570:ios:c8db51ac6cf6eadef28b1b</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular2-12ac5.firebaseio.com</string>
</dict>
</plist>